<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>

<body>
    <h1>Find Task</h1></br>
    <h1>
        <a href="/">Home</a>
        <a href="/newtask">Add new Task</a>
        <a href="/listTask">List Task</a>
        <a href="/updateTask">Update Task</a>
        <a href="/deleteTask">Delete Task</a>
        <a href="/deleteAll">Delete All</a>
        

    </h1>
    <table class="table table-bordered table-striped">
            <tr>
                <th>Task ID</th>
                <th>Task Name</th>
                <th>Assign To </th>
                <th>Task Due Date</th>
                <th>Task Status</th>
                <th>Task Description</th>
            </tr>
            <% for (let i =0;i<tasks.length;i++){ %>
            <tr>
                <td>
                    <%= tasks[i].TaskId %>
                </td>
                <td>
                    <%= tasks[i].TaskName %>
                </td>
                <td>
                    <%= tasks[i].TaskAssign %>
                </td>
                <td>
                    <%= tasks[i].TaskDue %>
                </td>
                <td>
                    <%= tasks[i].TaskStatus %>
                </td>
                <td>
                    <%= tasks[i].TaskDesc %>
                </td>
            </tr>
            <% }%>
        </table>


</body>

</html>